<!--
The following file is used to store the information needed to
connect to the database (IE the dialect the databased is in, the connection URL,
password, etc. dbm2ddl.auto is set to create or update tables manually.
In the connection URL, jdbc:oracle:thin establishes how my java files will interact with the 
database and the number 8080 is the port to which it should connect locally.

The usernames and passwords in this file will NOT work in a real life database, they are there as place holders.
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>  
        <property name="connection.url">jdbc:oracle:thin:@localhost:8080:xe</property>  
        <property name="connection.username">userAdmin</property>  
        <property name="connection.password">pa$$w0rd</property>  
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>  
    <mapping resource="employee.hbm.xml"/>  
    </session-factory>  
  
</hibernate-configuration>  